{'patch_size': 128, 'unfoldings': 12, 'lr_step': 50, 'eps': 0.001, 'uuid': UUID('4de33eef-4e6d-42d4-a097-3675bd1e670e'), 'lr': 0.0002, 'kernel_size': 11, 'stride2': 7, 'threshold': 0.01, 'stride3': 9, 'num_filters': 175, 'stride1': 8, 'noise_std': 0.29411764705882354, 'num_epochs': 250, 'lr_decay': 0.35}