{'patch_size': 128, 'num_filters': 175, 'num_epochs': 250, 'noise_std': 0.19607843137254902, 'eps': 0.001, 'kernel_size': 11, 'stride3': 9, 'lr_decay': 0.35, 'stride2': 7, 'lr': 0.0002, 'stride1': 8, 'uuid': UUID('004090c3-df94-46dc-899f-af1bb2f0c2b8'), 'unfoldings': 12, 'lr_step': 50, 'threshold': 0.01}