{'uuid': UUID('3ff96a8e-d9a6-4916-a4aa-1f4537eefc34'), 'kernel_size': 11, 'stride1': 8, 'stride2': 7, 'stride3': 9, 'num_filters': 175, 'lr': 0.0002, 'unfoldings': 12, 'lr_decay': 0.35, 'patch_size': 128, 'num_epochs': 250, 'lr_step': 50, 'eps': 0.001, 'threshold': 0.01, 'noise_std': 0.09803921568627451}